<section>
  <h1>About Me</h1>
  <p>I'm Paul Cichonski, a software engineer interested in distributed systems, system theory, IT security, andi knowledge representation.</p>
  <div id="about_icons" align="center">
<a href="http://twitter.com/paulcichonski"><img src="/images/twitter.png"
                                             alt="Twitter" /></a>
<a href="http://github.com/paulcichonski"><img src="/images/github.jpeg"
                                             alt="Github" /></a>
<a href="http://www.linkedin.com/in/paulcichonski"><img src="/images/linkedin.png"
                                             alt="Linkedin" /></a>
</div>
</section>
